@media (orientation: landscape) {
  .Setup {
    display: none;
  }
  .Tip {
    display: none;
  }
}

@media (orientation: portrait) {
  .myApp {
    display: none;
  }
  .Tip {
    display: none;
  }
}

@media (min-width: 1000px) {
  .Tip {
    text-align: center;
  }
  .myApp {
    display: none;
  }
  .Setup {
    display: none;
  }
}

.myApp {
  height: 100%;
}

.App {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 32px;
  background: #000;
  color: #fff;
  /* display: flex;
  flex-direction: row; */

  background-image: url("./assets/Road.png");
  background-repeat: no-repeat;
  background-position: center center;
}
